* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* el alto seria la suma de los altos de los hijos */
    height: 100vh; /* altura fija de la ventana del navegador */

}

header{
    background-color: black;
    flex-basis: 5%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header div#menu{
    border: 0px solid white;
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header #menu i{
    color: white;
    font-size: 20px

}
header figure{
    /* border: 1px solid white; */
    color: white;
    flex-basis: 20%;
}
header nav{
    border: 1px solid white;
    color: white;
    flex-basis: 30%;
}
header form{
    flex-basis: 20%;
}
header #carrito{
    border: 1px solid white;
    color: white;
    flex-basis: 10%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
main{
    background-color: brown;
    flex-basis: 65%;
}

footer{
    background-color: black;
    flex-basis: 30%;
}


